.home_content {
    grid-template-columns:116px repeat(2,1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;

}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home_social-icon{
    font-size: 1.25rem;
    color: var(--title-color);
}
.home_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home_hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}
.home_subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home_subtitle::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home_description{
   max-width:400px;
   margin-bottom: var(--mb-3); 
}
.home_img{
    background: url(../../assets/prof.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: inset 0 0 0 9px rgb(255,255,255 / 30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
}